@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 255 255 255;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
